/* The root declares base / default values and allows you to declare variables
to be used in your code below. */
:root{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* The body's default colors, and setting the margin & padding to 0 */
body{
    color: #D3D6DB;
    background-color: #3A4750;
    margin: 0;
    padding: 0;
}
/* Setting the main section to have a relative margin to 5rem to make
sure the content is not going to be touching our nav bar */
main{
    margin-left: 5rem; /* 5 * 16 = 80px margin*/
    padding: 1rem;
}

/* Changing the scroll bar to match the website. */
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background-color: #303841;
}
body::-webkit-scrollbar-thumb {
    background-color: #BE3144;
}

/* Styling the nav bar class */
.navbar {
    width: 5rem; 
    height: 100vh; 
    position: fixed; 
    background-color: #303841;
    transition: width 300ms ease;
}

.nav-list{ /* class of the entire list
    /* list-style: none; Removes to bullet points from the list */
    padding: 0;
    display: flex;
    flex-direction: column; /* The nav bar ul is now a flex box item with
    a orientation of column*/
    height: 100%; /*Height of the nav bar */
}


.nav-items{ /*class in each item individually*/
    width: 0rem; /*size of the svg icons*/
    margin-left: 0.9rem;
}
.nav-link{
    display: flex; /*makes this class a flexbox now. Default axis for flex box 
    is a row.*/
    align-items: center; /*Centers the icon in the navigation bar vertically*/
    height: 5rem;
    color:black;
    text-decoration: none;
    transition: 200ms;
    filter: opacity(0.7);
}
.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-list #contact-nav {
    margin-top: auto;
}


.navbar:hover {
    width: 16rem; /*The width the nav bar changes to when hovered over.*/   
}

.navbar:hover .link-text {
    display: block; /* Shows the text in the a tag when we hover over.*/
}

.nav-link:hover{
    color:#a7172a;
    filter: opacity(10);
}


@media only screen and (max-width: 600px){
    .navbar {
     bottom: 0;
     width: 100vw;
    height: 5rem;
    }
      
      
    .nav-list {
    flex-direction: row;
    }
      
    .nav-link {
    justify-content: center;
    }
      
    main {
    margin: 0;  
    }
}


@media only screen and (min-width: 600px){
        .navbar {
          top: 0;
          width: 5rem;
          height: 100vh;
        }
      
        .navbar:hover {
          width: 16rem;
        }
      
        .navbar:hover .link-text {
          display: inline;
        }
}
.intro{
/* background-color:; */
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
border: solid black 5px;
border-radius: 10px;
margin-bottom: 150px;
background-color: black;
}
#intro-txt{
    font-size: 1.5rem;
}

.intro-div{
    display: flex;
    flex-direction: column;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.allIntroText{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0px 100px;
}

#intro-greeting{
    font-size: 2.2rem;
    margin-right: 50px;
    margin-bottom: 50px;
}

.quote{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.quote-div{
    background-color: #a7172a;
    border-radius: 10px;
    padding: 5px;
}

/*About me*/
.About-Me-Pics{
    width: 500px;
}
#me_in_robotics{
    height: 355px;
} 

.pics_in_a_row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: red; */
    margin-right: 100px;
}
.about-me-info{
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem;
}

.About-Me-Title{
    background-color: black;
    padding: 50px;
    border-radius: 10px;
    margin-top: 0px;
}

/*Experience page*/

.Experience-header{
    background-color: black;
    padding:5px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.Experience-robotics{
    display: flex;
    flex-direction: column;

}
#robotics-experience{
    padding: 30px;
    margin: 20px;
    text-align: center;
}
.robotics-img{
    align-items: center;
    height: 400px;
    width: 450px;
}
#robotics-skills{
    text-align: center;
}
.robotics-s-ul{
    text-align: center;
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.accomplishments-robotics{
    text-align: center;
}
.robotics-a-ul{
    text-align: center;
    list-style-type: none;
    margin:0px 0px 50px 0px;
    padding:0px;

}
.C2MG-column{
    display: flex;
    /* background-color: green; */
    flex-direction: column;
    flex-direction: center;
}

.all-experience{
    display: flex;
    justify-content: space-around;
}

#carpentry-img{
    margin-left: auto;
    margin-right: auto;
}
.robotics-img{
    margin-left: auto;
    margin-right: auto;
}
#C2MG-Experience{
    padding: 30px;
    margin: 20px;
    text-align: center;
}
.carpentry-skills-ul{
    text-align: center;
    list-style-type: none;
    margin:0px 0px 50px 0px;
    padding:0px;
}
.carpentry-skills-header{
    text-align: center;
}

/*Portfolio Styling*/
.Experience-header{
    background-color: black;
    padding:5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.project-1{
display: flex;
justify-content: center;
margin-bottom: 100px;
}
.project-1-header{
    margin-right: 400px;
}
.project-1-img{
    margin-right: 200px;
}

.project-2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.project-2-header{
    margin-right: 400px;
}
.project-2-img{
    margin-right: 200px;
    margin-top: 50px;
}
.project-2-desc{
    margin-top: 50px;
}

.coming-soon-txt{
    text-align: center;
}