/* The root declares base / default values and allows you to declare variables
to be used in your code below. */
:root{
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* The body's default colors, and setting the margin & padding to 0 */
body{
    color: #D3D6DB;
    background-color: #3A4750;
    margin: 0;
    padding: 0;
}
/* Setting the main section to have a relative margin to 5rem to make
sure the content is not going to be touching our nav bar */
main{
    margin-left: 5rem; /* 5 * 16 = 80px margin*/
    padding: 1rem;
}

/* Changing the scroll bar to match the website. */
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background-color: #303841;
}
body::-webkit-scrollbar-thumb {
    background-color: #BE3144;
}

/* Styling the nav bar class */
.navbar {
    width: 5rem; 
    height: 100vh; 
    position: fixed; 
    background-color: #303841;
    transition: width 300ms ease;
}

.nav-list{ /* class of the entire list
    /* list-style: none; Removes to bullet points from the list */
    padding: 0;
    display: flex;
    flex-direction: column; /* The nav bar ul is now a flex box item with
    a orientation of column*/
    height: 100%; /*Height of the nav bar */
}


.nav-items{ /*class in each item individually*/
    width: 0rem; /*size of the svg icons*/
    margin-left: 0.9rem;
}
.nav-link{
    display: flex; /*makes this class a flexbox now. Default axis for flex box 
    is a row.*/
    align-items: center; /*Centers the icon in the navigation bar vertically*/
    height: 5rem;
    color:black;
    text-decoration: none;
    transition: 200ms;
    filter: opacity(0.7);
}
.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-list #contact-nav {
    margin-top: auto;
}


.navbar:hover {
    width: 16rem;
}


 .navbar:hover .link-text {
    display: block;
} 

.nav-link:hover{
    color:#a7172a;
    filter: opacity(10);
}

.selfie{
    height: 500px;
    width: 700px;
    border-radius: 10px;
} 



.intro{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
border-radius: 10px;
margin-bottom: 100px;
background-image: linear-gradient( 135deg, #000000 10%, #202020 100%);
}
#intro-txt{
    font-size: 1.5rem;
}


.intro-div{
    display: flex;
    flex-direction: column;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 3rem;
}

.allIntroText{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 0px 100px;
}

#intro-greeting{
    font-size: 2.2rem;
    margin-right: 50px;
    margin-bottom: 50px;
}

.quote{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.quote-div{
    background-image: linear-gradient( 135deg, #a7172a 10%, #79101e 100%);
    border-radius: 10px;
    padding: 5px;
}

/*About me*/
.About-Me-Pics{
    width: 500px;
}
#me_in_robotics{
    height: 355px;
    border-radius: 10px;
} 

.pics_in_a_row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 100px;
}
#our-robot{
    height: 400px;
    width: 400px;
    border-radius: 10px;

}
.about-me-info{
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem;
}

.About-Me-Title{
    background-image: linear-gradient( 135deg, #000000 10%, #202020 100%);
    padding: 50px;
    border-radius: 10px;
    margin-top: 0px;
}
.life-stages{
    background-image: linear-gradient( 135deg, #a7172a 10%, #79101e 100%);
    padding: 50px;
    border-radius: 10px;
    margin-top: 0px;
}
.childhood{
    background-image: linear-gradient( 135deg, #a7172a 10%, #79101e 100%);
    padding: 50px;
    border-radius: 10px;
    margin-top: 0px;
}

/*Experience page*/

.Exp-headers{
    display: flex;
    justify-content: space-around;
}
.Experience-header{
    background-image: linear-gradient( 135deg, #000000 10%, #202020 100%);
    padding: 50px;
    border-radius: 10px;
    margin-top: 0px;
}
.robotics-img{
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.carpentry-img{
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.experience-pics{
    display: flex;
    justify-content: space-around;
}
.experience-txt{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2rem;
}
#robotics-experience{
margin: 100px 100px 10px 100px;
}
#C2MG-Experience{
    margin: 100px 100px 10px 100px;
}
.skills-list-header{
    display: flex;
    justify-content: space-around;
}
.skills-lists{
    display: flex;
    justify-content: space-around;
    text-align: center;
    

}
.robotics-s-ul{
    list-style-type: none;
}
.carpentry-skills-ul{
    list-style-type: none;
}




/* 
.Experience-header{
    background-image: linear-gradient( 135deg, #000000 10%, #202020 100%);
    padding:5px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.Experience-robotics{
    display: flex;
    flex-direction: column;

}
#robotics-experience{
    padding: 30px;
    margin: 20px;
    text-align: center;
}
.robotics-img{
    align-items: center;
    height: 400px;
    width: 450px;
}
#robotics-skills{
    text-align: center;
}
.robotics-s-ul{
    text-align: center;
    list-style-type: none;
    margin:0px;
    padding:0px;
}
.accomplishments-robotics{
    text-align: center;
}
.robotics-a-ul{
    text-align: center;
    list-style-type: none;
    margin:0px 0px 50px 0px;
    padding:0px;

}
.C2MG-column{
    display: flex;
    flex-direction: column;
    flex-direction: center;
}

.all-experience{
    display: flex;
    justify-content: space-around;
}

#carpentry-img{
    margin-left: auto;
    margin-right: auto;
}
.robotics-img{
    margin-left: auto;
    margin-right: auto;
}
#C2MG-Experience{
    padding: 30px;
    margin: 20px;
    text-align: center;
}
.carpentry-skills-ul{
    text-align: center;
    list-style-type: none;
    margin:0px 0px 50px 0px;
    padding:0px;
}
.carpentry-skills-header{
    text-align: center;
} */

/*Portfolio Styling*/
.portfolio-header{
    background-color: black;
    padding:5px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 120px;
    margin-right: 50px;
}
.project-1{
display: flex;
justify-content: center;
margin-bottom: 100px;
}
.project-1-header{
    margin-right: 400px;
    
}
.project-1-img{
    margin-right: 200px;
    width: 300px;
    height: 300px;
}

.project-2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.project-2-header{
    margin-right: 400px;
}
.project-2-img{
    margin-right: 200px;
    margin-top: 50px;
    width: 300px;
    height: 300px;
}
.project-2-desc{
    margin-top: 50px;
}

/*Contact page*/
.coming-soon-txt{
    text-align: center;
}

/*Media Querie*/
@media screen and (max-width: 600px){
    .home-page{
        font-size: .05rem;
    }
    .selfie{
        width: 10px;
    }
    .intro{
        flex-direction: column;
    }
    .quote-div{
        margin-bottom: 100px;
    }
    .navbar {
     bottom: 0;
     width: 100vw;
     height: 5rem;
     /* max-height: 5rem;
     transition: max-height 300ms ease; */
    }
    .nav-list{
        flex-direction: row;
        justify-content: space-around;
    }
    .navbar:hover .link-text{
        display: none;
    }
    .navbar:hover{
        width: 100vw;
    }
    
    .nav-link {
    justify-content: center;
    }
      
    main {
    margin: 0;  
    }
    .selfie{
        height: 400px;
        width: 500px;
    }
    #intro-txt{
        text-align: center;
    }
    #intro-greeting{
        text-align: center;
    }
    /*About me*/
    #me_in_robotics{
        margin-left: 50px;
    }
    #our-robot{
        margin-left: 80px;
    }
    .present{
        margin-bottom: 100px;
    }
}
